* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial;
}

div#app_container.q1 .header {
    text-align: center;
    padding: 32px;
}

div#app_container.q1 .row {
    display: flex;

    flex-wrap: wrap;
    padding: 0 4px;
}


div#app_container.q1 .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

div#app_container.q1 .column > div {
    position: relative;
    margin-top: 8px;
    vertical-align: middle;

}

div#app_container.q1 .column > div > div {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: blue;
    opacity: 0.5;
    background-color: white;
}

div#app_container.q1 .column > div > div > p {
    padding: 8px;
}
div#app_container.q1 .column > div img {

    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    div#app_container.q1 .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    div#app_container.q1 .column {
        flex: 100%;
        max-width: 100%;
    }
}
